@font-face {
    font-family: 'Oswald';
    src: url('Oswald.ttf')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: #222831;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222831;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 30%;
    background: linear-gradient(45deg, rgba(199, 106, 237, 1) 0%, rgba(97, 86, 242, 1) 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgba(255, 106, 237, 1) 0%, rgba(150, 86, 255, 1) 100%);
}

body section:nth-child(2) {
    margin-top: 100px;
}

header,
nav,
section,
.content-container,
footer {
    display: flex;
    align-items: center;
}


header {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 1em 8em;
    background: #161a20;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
}

button {
    cursor: pointer;
}

#home {
    margin-top: 104px;
}

#logo {
    width: 50px;
    transition: 0.3s;
}

#logo:hover {
    transform: scale(1.2);
}

nav {
    justify-content: space-between;
    align-self: flex-end;
    gap: 2em;
    width: max-content;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em 1em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
    text-align: center;
}

nav a:hover {
    border: 1px solid #f05454;
}

section {
    height: 85vh;
    flex-wrap: wrap;
    /*border-style: solid;
    border-color: white;*/
}


footer {
    background: #161a20;
    padding: 3em;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-gray {
    color: #8a95a1;
}

.text-dark-gray {
    color: #383D46;
}

.text-purple {
    color: #9466ea;
}

.card {
    border-radius: 20px;
    padding: 1.5em;
    background-color: #2D3540;
    width: 300px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.card h1 {
    font-size: 100px;
}

.card h2 {
    font-size: 42px;
}

.card h2,
h3,
h4,
label,
footer {
    color: white
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(67, 66, 66);
}

#text-cards .card img,
#articles .card img {
    width: 50%;
}

#goods-cards .card img {
    width: 100%;
}

#goods-cards .card>div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    opacity: 0.0;
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

#goods-cards .card>img {
    transition: 0.3s;
}

#goods-cards .card:hover>div {
    opacity: 1.0;
}

#goods-cards .card:hover>img {
    transform: rotate(25deg) translateY(-50px);
    filter: drop-shadow(1px 1px 1px white)
}

.card>button,
.card>div>button {
    padding: 0.5em 1.5em;
    border-radius: 50px;
    border-style: none;
    width: fit-content;
    box-shadow: 1px 1px 5px rgb(80, 80, 80);
}

.background-blue {
    background-color: #2196F3;
}

.background-red {
    background-color: #ed3d3d;
}

.background-white {
    background-color: white;
}

.background-green {
    background-color: #97DC47;
}

.background-black {
    background-color: black;
}

.background-pink {
    background-color: pink;
}

.background-multicolor {
    background: linear-gradient(45deg, rgba(3, 0, 255, 1) 0%, rgba(35, 86, 248, 1) 4%, rgba(56, 141, 244, 1) 15%, rgba(91, 235, 237, 1) 36%, rgba(128, 228, 78, 1) 54%, rgba(255, 231, 35, 1) 70%, rgba(239, 116, 18, 1) 84%, rgba(222, 0, 0, 1) 100%);
}

.text-pink {
    color: #F620D7;
}

.card p {
    font-size: 14px;
    color: white;
}

.gradient-red {
    background: linear-gradient(155deg, rgba(255, 132, 3, 1) 0%, rgba(255, 0, 175, 1) 100%);
}

.gradient-blue {
    background: linear-gradient(45deg, rgba(9, 180, 182, 1) 0%, rgba(25, 219, 190, 1) 100%);
}

.gradient-purple {
    background: linear-gradient(45deg, rgba(199, 106, 237, 1) 0%, rgba(97, 86, 242, 1) 100%);
}

.gradient-green {
    background: linear-gradient(45deg, rgba(182, 255, 3, 1) 0%, rgba(7, 249, 238, 1) 100%);
}

.flex-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.self-flex-end {
    align-self: flex-end;
}

.gap-10 {
    gap: 10em;
}

.gap-5 {
    gap: 5em;
}

#third-flex {
    transition: 0.3s;
    justify-self: stretch;
    align-self: flex-end;
}

#third-flex:hover {
    flex-direction: column;
}

#third-flex:hover div {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
    text-align: center;
}

.align-items-right {
    align-items: flex-end;
    text-align: right;
}

.color-select {
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    width: 16px;
    height: 16px;
}

.size-select {
    padding: 4px;
    border-radius: 20%;
    border-style: none;
}

.gap-1 {
    gap: 1em;
}

.color-white {
    color: white;
}