@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.search-div {
  position: relative;
  display: flex;
  align-items: center;
}

.search-div i {
  position: absolute;
  right: 10;
  font-size: 14px;
  color: gray;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 10px;
  transition: 0.3s;
}

a:hover {
  color: #4e60ff;
  background: #f3f4ff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 1px rgb(217, 217, 217);
  padding: 1em;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5em;
}

header input {
  border-radius: 10px;
  padding: 0.7em;
  width: 220px;
  border-style: none;
  background: #edeef2;
  text-indent: 4px;
  outline-color: #4e60ff;
}

header input + i {
  transition: 0.3s;
}

header input:focus + i {
  transform: scale(1.1);
  color: #4e60ff;
}

header div {
  display: flex;
  align-items: center;
  gap: 1em;
}

header div:nth-child(1) {
  gap: 3em;
}

header h2 {
  line-height: 22px;
}

header h2 span {
  color: #4e60ff;
}

header a {
  font-weight: bold;
  font-size: 14px;
}

header button {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
  color: #4e60ff;
  font-size: 18px;
  position: relative;
  background: #f3f4ff;
}

#cart-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background: #4e60ff;
  border-radius: 8px;
  font-size: 11px;
  width: 20px;
  height: 20px;
  right: -5px;
  top: -5px;
}

#user-button {
  font-size: 20px;
}

#advertisments {
  display: flex;
  gap: 1.5em;
  overflow-x: auto;
}

@media (min-width: 1152px) {
  #advertisments {
    justify-content: center;
  }
  #categories {
    justify-content: center;
  }
}

#advertisments::-webkit-scrollbar,
#categories::-webkit-scrollbar {
  width: 0;
}

.advertisment {
  display: flex;
  min-width: 550px;
  height: 200px;
  background: #f3f4ff;
  border-radius: 15px;
  gap: 2em;
  cursor: pointer;
  overflow: hidden;
}

.advertisment img {
  margin-left: 10px;
  height: 140%;
}

.advertisment div {
  display: flex;
  flex-direction: column;
}

.advertisment div h3 {
  margin-top: 20px;
  font-weight: 600;
}

.advertisment div h1 {
  font-size: 44px;
  color: #4e60ff;
  margin-top: 10px;
}

.advertisment div span {
  color: gray;
  margin-top: 50px;
  font-size: 14px;
}

.advertisment.orange {
  background: #fef2ec;
}

.advertisment.orange h1 {
  color: #fd6d22;
}

#categories {
  display: flex;
  gap: 2em;
  overflow-y: auto;
}

#categories div {
  min-width: 150px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 13px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  transition: 0.3s;
  cursor: pointer;
}

#categories div:hover {
  background: #f3f4ff;
  border-color: #4e60ff;
  border-width: 2px;
  color: #4e60ff;
}

#categories div img {
  height: 28px;
}
