@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: #222831;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

#first-grid-section,
#second-grid-section {
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  gap: 2px;
}

#first-grid-section > div {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

#first-grid-section > div:hover {
  color: white;
  font-size: 32px;
  background-color: #2196f3;
}

#second-grid-section {
  gap: 10px;
  height: 100vh;
}

#second-grid-section > div {
  background-color: #333333;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: max(9px, 1.1vw);
  gap: 10px;
  padding: 20px;
  cursor: pointer;
}

#second-grid-section > div > img {
  width: 5vw
}

#second-grid-section > div:hover {
  background-color: #e91e63;
}

#third-grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 900px) {
  #third-grid-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 710px) {
  #third-grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

#third-grid-section > div {
  background-color: black;
  color: white;
  display: grid;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  height: 285px;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

#third-grid-section > div > p {
  font-size: 14px;
}

#third-grid-section > div > h3 {
  align-self: flex-end;
  text-transform: uppercase;
}

#third-grid-section > div > h1 {
  font-size: 80px;
  color: white;
  grid-row: span 3;
  opacity: 0.5;
}

#third-grid-section > div:nth-child(1) {
  background: linear-gradient(
    45deg,
    rgba(7, 115, 186, 1) 0%,
    rgba(97, 230, 253, 1) 100%
  );
}

#third-grid-section > div:nth-child(2) {
  background: linear-gradient(
    45deg,
    rgba(233, 32, 104, 1) 0%,
    rgba(237, 82, 248, 1) 100%
  );
}

#third-grid-section > div:nth-child(3) {
  background: linear-gradient(
    45deg,
    rgba(7, 115, 55, 1) 0%,
    rgba(0, 248, 111, 1) 100%
  );
}

#third-grid-section > div:nth-child(4) {
  background: linear-gradient(
    45deg,
    rgba(240, 94, 77, 1) 0%,
    rgba(243, 187, 49, 1) 100%
  );
}

#fourth-grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
  justify-items: center;
}

@media (max-width: 880px) {
  #fourth-grid-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #fourth-grid-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

#fourth-grid-section > div {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 250px;
  transition: 0.5s;
}

#fourth-grid-section > div:hover {
  transform: scale(1.1);
}

#fourth-grid-section > div > .content > span {
  font-size: 12px;
  color: #ff076e;
  font-weight: bold;
}

#fourth-grid-section > div > .content {
  grid-row: span 3;
  text-align: center;
  padding-inline: 5px;
}

#fourth-grid-section > div > .content > p {
  font-size: 13px;
}

#fourth-grid-section > div > img {
  width: 100%;
  grid-row: span 3;
}

#fourth-grid-section > div > .card-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(63, 63, 63);
  gap: 1px;
  color: white;
}

#fourth-grid-section > div > .card-footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#fourth-grid-section > div > .card-footer > div > span {
  font-size: 10px;
  text-transform: uppercase;
}

#fourth-grid-section > div:nth-child(1) > .card-footer > div {
  background-color: #ff076e;
}

#fourth-grid-section > div:nth-child(2) > .card-footer > div {
  background-color: #E14306;
}

#fourth-grid-section > div:nth-child(3) > .card-footer > div {
  background-color: #03A439;
}